.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #029ffa;
}

.label {
  font-size: 18px;
  color: #000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
select {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  width: 300px;
  padding: 5px 8px;
  margin-left: 20px;
  outline: none;
  border-radius: 8px;
  height: 40px;
}
.displayJosn {
  width: 80%;
  height: 60vh;
  display: "block";
  box-shadow: 0 2px 5px gray;
  overflow-y: scroll;
  margin: 20px auto;
}
